.menu::-webkit-scrollbar {
    width: 10px;
}

.menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background: dimgray;
}
.unlock{
    cursor: pointer;
}
.lock{
    cursor: pointer;
}
.plugin-menu::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: grey;
    width: 400px
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.plugin-menu .item{
    font-size: 14px !important;
}
.plugin-menu .item span.title{
    font-weight: normal;
    color: #ffffff;
    font-size: 14px;
    line-height: 12px;
}
.plugin-menu .item span.detail{
    color: #555;
    font-size: 13px;
}



.ui.vertical.menu.sidebar{
    box-shadow: rgb(68, 63, 63) 5px 3px 5px;
}

.fixed.launch.button {
    position: absolute;
    top: 250px;
    left: -1px;

    width: 160px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
;
}
.fixed.launch.button.fixed-top {
    position: fixed;
;
}

.fixed.launch.button .text {
    position: absolute;
    white-space: nowrap;
    top: auto;
    left: 47px;
    opacity: 1;

}
.fixed.launch.button:hover {
    width: 160px;
}
.fixed.launch.button:hover .text {
    opacity: 1;
}

.launch.button .icon {
    margin-left: 0px;
}
.launch.button .text {
    color: #ffffff;
}